/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #101820;
    color: #d1e8e2;
    font-size: 25px;
    line-height: 1.6; /* Mejora la legibilidad */
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #0a0c10;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    color: #51b5d4;
    font-size: 40px;
}

header p {
    color: #f7c331;
    margin: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #51b5d4;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f7c331;
}

section {
    padding: 40px 0;
    background-color: #15191c;
}

h2 {
    color: #51b5d4;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

/* Sección Servicios */
.servicio {
    text-align: center;
    margin: 20px auto; 
    max-width: 600px;
}

.servicio img {
    width: 100%;
    max-width: auto;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px; 
}

/* Sección Contacto */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

input, textarea, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #51b5d4;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #f7c331;
}

/* Footer */
footer {
    text-align: center;
    background-color: #0a0c10;
    padding: 20px;
    color: white;
}

.redes-sociales a {
    color: #51b5d4;
    margin: 0 10px;
    text-decoration: none;
}

.redes-sociales a:hover {
    color: #f7c331;
}

.mas-info {
    display: inline-block;
    margin-top: 10px;
    color: #51b5d4;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.mas-info:hover {
    color: #f7c331; /* Color cuando se pasa el mouse */
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .galeria-grid {
        grid-template-columns: 1fr;
    }

    .servicio {
        max-width: 100%;
        padding: 20px;
    }
}
